.login{
    background-color: #f8f8f8;
    width: 100vw;
    height: 100vh;
    place-items: center;
    display: grid;
   
}
.login__container{
    background-color: white;
    overflow-x: hidden;
    padding: 100px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 4px 20px -6px rgba(0,0,0,0.75);
}
.login__container > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}
.login__ContainerText > Button {
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48 !important;
    color: white !important;
}
